<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs') %>

<body>
    <%- include('../partials/nav.ejs') %>

    <main class="container">
        <h1>About my page</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis odit nulla voluptatibus veniam suscipit saepe nam, facere consectetur doloremque corporis eos numquam, quaerat molestias praesentium debitis repellat. Asperiores neque autem, commodi rerum dignissimos ipsum aspernatur! Culpa dolor, iusto facilis dolorum quas molestiae omnis, nihil corrupti tempora cumque fuga quod iste?</p>
    </main>


    <%- include('../partials/footer.ejs')  %>

    
</body>
</html>